# Obsidian settings (solo sincronizamos lo esencial, nada de workspace local)
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/obsidian-git/data.json

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos backup temporales
*.bkp
*.backup